*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bar-top{padding: 12px; background-color: #333;}



.container{padding: 80px 120px;}
.footer{padding: 80px 120px; background-color: #333; }
