*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bar-top{background-color: #333; color: #fff; overflow:hidden;}
.bar-top > ul{list-style-type: none;}
.bar-top li{float: left; padding: 20px 20px;}
.bar-top li:hover:not(.active){background-color: gray;}
.bar-top a{text-decoration: none; color: inherit;}
.active{background-color: rgb(0, 105, 40);}

.container{padding: 80px 120px;}
.footer{padding: 80px 120px; background-color: #333;}
